.payment-main-container {
  width: 100%;
  min-height: 80vh;
  height: auto;
  background: white;
  display: grid;
  place-items: center;
}
.payment-title-box {
  position: relative;
  color: white;
  height: 150px;
  background-image: url("/images/sharingPizza.jpg");
  background-size: cover;
  background-position: center;
}
.payment-shadow-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  color: white;
  letter-spacing: 1.5px;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.payment-details-container {
  width: 400px;
  height: auto;
  margin: 40px 0px;
  border-radius: 25px;
  box-shadow: 3px 3px 20px #777;
}
#payment-title {
  text-align: center;
  margin: 60px 0 60px 0;
}
.payPal-buttons-box {
  position: relative;
  padding: 20px;
  width: 100%;
}
.payment-summary {
  border-top: gray solid 1px;
  border-bottom: gray solid 1px;
  padding: 5px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.payment-summary img {
  width: 60px;
  height: 60px;
}
.payment-total-box {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#payment-total-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 320px;
  margin: 10px 0;
}
.payment-total-title {
  width: 50%;
  text-align: right;
}
.payment-total-money {
  min-width: 70px;
  width: auto;
  text-align: right;
}
.payInfo {
  padding: 0px 20px;
  width: 300px;
  color: red;
  font-size: 15px;
  font-weight: 500;
  overflow: hidden;
}

/* Media Queries */

@media (max-width: 767px) {
  #payment-title {
    font-size: 26px;
  }
}
@media (max-width: 420px) {
  .payment-main-container {
    padding-top: 0;
  }
  .payment-details-container {
    width: 95%;
  }
  #payment-title {
    margin: 30px 0 30px 0;
  }
  .payment-summary {
      font-weight: 500;
    grid-template-areas:
      "i i i i"
      "s s s s"
      "q q t t";
  }
  #payment-summary-img {
    grid-area: i;
  }
  #payment-summary-subject {
    grid-area: s;
  }
  #payment-summary-qty {
    grid-area: q;
    padding-right: 20px;
    text-align: right;
  }
  #payment-summary-total {
    grid-area: t;
    padding-left: 20px;
    text-align: left;
  }
  #payment-total-price {
    width: 95%;
    font-weight: 500;
  }
}
