.error-main {
  min-height: 79vh;
  display: grid;
  place-items: center;
  padding: 20px;
  color: #fff;
  .error-content {
    text-align: center;
    h4 {
      margin-bottom: 10px;
    }
    img {
      width: 280px;
      margin-bottom: 30px;
      @media (max-width: 360px) {
        width: 90%;
      }
    }
  }
}
