@use '../../scss/variables';

.main-cart-container {
	overflow-x: hidden;
	position: relative;
	width: 100%;
	min-height: 79vh;
	justify-content: center;
	text-align: center;
	background: url('../../images/whiteMarblePortrait.jpg');
	background-position: center;
	background-size: cover;
	text-align: center;
}
.cart-row {
	background: #fff;
	padding: 10px;
}
#cart-H1 {
	font-size: 2.5em;
	padding: 10px 0;
	background: rgba(3, 3, 3, 0.295);
}
.cart-remove-icon {
	height: auto;
	color: variables.$main-red;
	font-size: 22px;
	cursor: pointer;
	overflow: hidden;
}
.cart-remove-button {
	display: none;
	width: 100%;
	background-color: variables.$main-red;
}

.horizontal-flex {
	display: flex;
	height: auto;
	justify-content: center;
}
.cart-column-title-box {
	font-weight: bold;
	font-size: 25px;
}
.cart-column {
	width: 182px;
	min-width: 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 5px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
	.cart-quantity-box {
		display: flex;
		align-items: center;
	}
	.cart-adjustor {
		font-size: 16px;
		padding: 0px;
		width: 25px;
		height: 25px;
		color: #ffffff;
		background: variables.$main-blue;
		border-radius: 5px;
		cursor: pointer;
		&:hover {
			background: variables.$dark-blue;
		}
	}
}
#cart-image-box img {
	width: 100%;
	height: 120px;
}
#cart-qty {
	padding: 0 4px;
}
.cart-total-box {
	width: 100vw;
	min-width: 290px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}
.cart-total-price {
	display: flex;
	flex-wrap: wrap;
	width: 280px;
	min-width: 280px;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0;
}
.total-title {
	width: 140px;
	min-width: 120px;
	text-align: right;
}
.total-money {
	min-width: 100px;
	width: auto;
	text-align: right;
}
#checkout-button {
	width: 230px;
	margin-bottom: 20px;
	font-size: 15px;
	background: variables.$main-blue;
	&:hover {
		background: variables.$dark-blue;
	}
}
.empty-cart {
	height: 79vh;
	display: grid;
	place-items: center;
}

@media (max-width: 767px) {
	#menu-title {
		font-size: 2em;
	}
	.cart-row {
		max-width: 260px !important;
		margin: 20px auto 0px;
		border: variables.$light-border;
		border-radius: 5px;
		box-shadow: variables.$light-shadow;
	}
	.cart-hr {
		display: none;
	}
	#cart-H1 {
		font-size: 2em;
	}
	.cart-column-title-box {
		display: none;
	}
	.cart-column {
		width: 100%;
	}
	.cart-remove-icon {
		display: none;
	}
	.cart-remove-button {
		display: block;
	}
	.horizontal-flex {
		width: 100%;
		margin-bottom: 20px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-auto-rows: auto;
		grid-template-areas:
			'n n'
			'i i'
			'p p'
			'q q'
			't t'
			'r r';
	}
	#cart-pizza-name {
		grid-area: n;
	}
	#cart-image-box {
		grid-area: i;
	}
	#cart-image-box img {
		width: 65%;
	}
	#cart-pizza-price {
		grid-area: p;
	}
	#cart-pizza-quantity {
		grid-area: q;
	}
	#cart-pie-total {
		grid-area: t;
	}
	#cart-remove-box {
		grid-area: r;
	}
}
