.checkout-main-container{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.outter-form-container{
    background: url('../images/whiteMarblePortrait.jpg');
    min-height: 550px;
    height: auto;
    width : 500px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;   
    border-radius: 15px;
}
.hide{
    display: none;
}
form{
    width: 80%;
    height: 90%;
    height: auto;
    text-align: center;
}
form h1{
    font-size: 2.5em;
    color: black;
    margin-bottom: 35px;
}
form input{
    font-size: 35px;
    font-weight: 600;
    color: black;
    width: 100%;
    height: 35px;
    height: auto;
    padding: 5px 0 5px 10px;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1.5px solid black;
    outline-style: none;
    background: none;
}
::placeholder{
    color: rgba(128, 128, 128, 0.733);
}
::-ms-input-placeholder{
    color: rgba(128, 128, 128, 0.733);
}
:-ms-input-placeholder{
    color: rgba(128, 128, 128, 0.733);
}
form button{
    width: 100%;
    height: auto;
    background:black;
    padding: 10px;
    margin-top: 20px;
    letter-spacing: 1px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border:none;
    outline-style: none;
    cursor: pointer;
}
form button:hover{
    background:rgba(0, 0, 0, 0.7);
    transform: scale(.99);
    transition: .1s ease-in;
}
.error-message{
    font-size: 23px;
    color: red;
}

/* Payment */

.payment-main-container{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: white;
    padding-top: 60px;
}
.payment-title-box{
    position: relative;
    color: white;
    height: 150px;
    background-image: url('/images/sharingPizza.jpg');
    background-size: cover;
    background-position: center;
}
.payment-shadow-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    color: white;
    letter-spacing: 1.5px;
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.payment-details-container{
    width: 50%;
    margin: auto;
    height:auto;
    border: lightgray solid 1px;
}
#payment-title{
    text-align: center;
    margin: 60px 0 60px 0;
}
.payPal-buttons-box{
    position: relative;
    margin: auto;
    width: 300px;
}
.payment-summary{
    border-top: gray solid 1px;
    border-bottom:gray solid 1px;
    padding: 5px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
.payment-summary img{
    width: 120px;
    height: 120px;
}
.payment-total-box{
    width: 100%;
    margin:30px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#payment-total-price{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:320px;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0;
}
.payment-total-title{
    width: 160px;
    text-align: right;
}
.payment-total-money{
    min-width: 100px;
    width: auto;
    text-align: right;
}

/* Confirmation */

.confirmation-main-container{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background: white;
    overflow: hidden;
}
.confirmation-box{
    position: relative;
    width: 75%;
    min-height: 520px;
    height: auto;
    margin: auto;
    border: rgb(90, 88, 88) solid 1px;
}
.confirmation-header{
    position: relative;
    background-image: url('/images/sharingPizza.jpg');
    background-size: cover;
    background-position: center;
    height: 250px;   
}
.shadow-box{
    position: absolute;
    height: 250px;
    width: 100%;
    color: white;
    text-align: center;
    letter-spacing: 1.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
}
.confirmation-details-top{
    padding: 20px 0;
    text-align: center;
}
.confirmation-bottom-text-box{
    padding: 0px 20px;
    text-align: center;
}
.confirmation-bottom-text-box p{
    font-size: 20px;
}

/* Media Queries */

@media(max-width:1024px){
    .payment-details-container{
        width: 70%;
        margin: auto;
    }
    .payment-summary{
        font-size: 22px;
        font-weight: bold;
    }
}
@media(max-width: 767px){
    .outter-form-container{
        min-height: 550px;
        height: auto;
        width : 100%;
        margin-top: 100px;
        border-radius: 0px;
    }
    form{
        width: 95%;
        height: 100%;
    }
    form h1{
        font-size: 35px;
    }
    form input{
        font-size: 26px
    }
    .confirmation-box{
        width: 100%;
        margin-top: 50px;
    }
    .payment-summary{
        font-size: 16px;
        padding: 5px 10px;
        height: 90px;
    }
    .payment-summary img{
        width: 80px;
        height: 80px;
    }
    #payment-total-price{
        font-size: 22px;
        font-weight: 500;
    }
    .payment-details-container{
        width: 100%;
    }
    #payment-total-price{
        font-size: 18px;
    } 
    #payment-title{
        font-size: 1.6em;
    }
    .confirmation-bottom-text-box{
        padding: 5px;
    }  
}
@media(max-width: 420px){
    .outter-form-container{
        margin-top: 0;
    }
    form h1{
        font-size: 25px;
    }
    form input{
        font-size: 22px
    }
    form button{
        font-size: 25px;
    }
    .payment-main-container{
        padding-top: 0;
    }
    #payment-title{
        margin: 30px 0 30px 0;
    }
    .payment-summary{
        grid-template-columns: 75px 100px 1fr 1fr;
    }
    .payment-summary img{
        width: 70px;
        height: 70px;
    }
    #payment-total-price{
        font-size: 16px;
        font-weight: 500;
    }
}

