*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.main-container {
  position: relative;
  width: 100vw;
  max-width: 1920px;
  min-width: 320px;
  min-height: 100vh;
  background: black;
}
header{
  background: black;
  color: white;
  width: 100vw;
  min-width: 320px;
  height: 10vh;
  max-height: 130px;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}
header h1{
  font-size: 2.5em;
}
nav{
  width: 30vw;
}
.d-none{
  display: none;
}
.nav-list{
  width: 100%;
  font-size: 25px;;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.nav-list-item{
  color: white; 
}
.nav-list-item:hover{
  opacity: 0.5;
  font-weight: 500;
}
.burger-box{
  width: 35px;
  height: 25px;
  box-sizing: border-box;
  overflow: hidden;
}
.burger-box img{
  width:100%;
  height: 100%;
}
#cart{
  width: 35px;
  height: 30px;
}
#cart-value{
  margin-left:15px;
}
.home-showcase{
  width: 100vw;
  height: 50vh;
  min-height: 300px;
  max-height: 500px;
  background: url('../images/pizzasInOven.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  overflow: hidden;
}
.artisan-box{
  position: relative;
  top: 20%;
  width: 100%;
  min-width: 320px;
  padding-right: 30px;
}
#artisan{
  color: white;
  position: relative;
  font-family: 'Alex Brush', cursive;
  font-size: 4em;
  text-shadow: 2px 2px 5px black;
  top: 0px;
  transform: translateX(-500px);
  animation: artisanSlide 2s forwards;
}
@keyframes artisanSlide{
  to{
    transform: translateX(60px);
  }
}
#creation{
  animation: creationShow 3.5s forwards;
  animation-delay: 1.5s;
  opacity: 0;
}
@keyframes creationShow{
  to{
    opacity: 1;
  }
}
.home-gallery{
  background: url('../images/whiteMarble.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
  overflow: hidden;
}
.home-gallery, .profile-gallery{
  position: relative;
  width: 100%;
  height: auto;
  padding: 70px 0px 20px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  align-items: center;
  color: black;
}
.home-gallery h1, .profile-gallery h1{
  position: absolute;
  width: 100%;
  top: 10px;
  text-align: center;
  font-size: 30px; 
}
.home-gallery a{
  color: black;
  text-decoration: none;
}
.gallery-box{
  width: auto;
  min-height: 370px;
  padding: 10px;
  overflow-y: hidden;
  justify-content: center;
  text-align: center;
  border: rgba(204, 202, 202, 0.9) solid 1px;
  border-radius: 10px;
  box-shadow: 2px 1px 10px rgba(54, 54, 54, 0.4);
}
.gallery-box:hover{
  transform: scale(1.05);
}
.gallery-box img{
  width: 100%;
}
.gallery-box p{
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}
#gallery-box-title{
  font-weight: bold;
}
.profile-gallery{
  background: black;
  color: white;
  gap: 35px;
  grid-template-columns: repeat(auto-fit, 400px);
}
.profile-box{
  height: auto;
  padding: 20px;
  justify-content: center;
  text-align: center;
}
.profile-box img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.profile-box p{
  font-size: 20px;
}
.about-story{
  width: 60%;
  min-height: 90vh;
  height: auto;
  padding: 70px 20px 0 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: 'Alex Brush', cursive;
  font-size: 30px;
}
.about-story{
  margin-bottom: 10px;
}
#story-box p{
  padding: 0 20px;
  margin-bottom: 30px;
}
.address-box{
  font-size: 25px;
}
.map-box{
  width: 70%;
  height: 300px;
  margin-bottom: 20px;
  overflow: hidden;
}
.map-box iframe{
  width: 100%;
  height: 100%;
}
.address-box{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media(max-width: 1024px){
  .home-showcase{
    height: 30vh;
  }
  nav{
    width: 50%;
  }
  .about-story{
    padding-top: 50px;
    width: 70%;
    height: 90vh;
    min-height: 700px;
    height: auto;
  }
  .map-box{
    width: 80%;
    height: 300px;
  }
}
@media(max-width: 768px){
  header h1{
    font-size: 1.5em;
  }
  nav{
    width: auto;
  }
  .burger-box img{
    width: 30px;
    height: 20px;
  }
  .artisan-box{
    top: 35%;
  }
  .nav-list{
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 10vh;
    right: 0;
    transform: translateX(400px);
    transition: 0.3s ease;
    width: 30%;
    height: 30vh;
    min-height: 200px;
    background: black;
    z-index: -1;
  }
  .nav-list li{
    transform: translateX(110%);
  }
  .nav-shift{
    z-index: 1;
    transform: translateX(0%);
  }
  @keyframes navEaseIn{ to{transform:translateX(0%);}}
 .artisan-box{
    width: 100%;
    text-align: center;
  }
  @keyframes artisanSlide{
    to{
      transform: translateX(10px);
    }
  }
  .optional-gallery-box{
    display: none;
  }
  .gallery-box{
    height: 330px;
  }
  .gallery-box img{
    width: 80%;
    text-align: center;
  }
  .profile-gallery{
    gap: 0;
    padding: 40px 10px 0 10px;
  }
  .about-story{
    padding-top: 40px;
    width: 90%;
    height: 80vh;
  }
  #story-box p{
    margin-bottom: 0px;
  }
  .map-box{
    width: 60%;
    height: 200px;
    margin-bottom: 0;
  }
}

@media(max-width: 600px){
  header{
    padding: 0px 20px;
  }
  .burger-box img{
    width: 20px;
    height: 18px;
  }
  .artisan-box{
    height: 150px;
    padding-left: 10px;
    font-size: x-small;
    text-align: center;
  }
  .nav-list{
    width: 40%;
    height: 40vh;
    font-size: 18px;
  }
  .home-showcase{
    height: 50vh;
  }
  .profile-box{
    transform: scale(0.8);
  }
  .about-story{
    width: 100%;
    height: 150vh;
  }
  .map-box{
    width: 100%;
    height: 200px;
  }
  .about-story{
    padding: 20px 2px 0 2px;
  }
  .address-box{
    font-size: smaller;
  }
}
@media(max-width: 320px){
  .home-showcase{
    height: 50vh;
  }
  .home-gallery h1, .profile-gallery h1{
    font-size: 25px;
  }
  .gallery-box p{
    font-size: 20px;
  }
  .about-story{
    padding: 10px 2px 0 2px;
    height: 150vh;
  }
  .about-story h2{
    font-size: 30px;
    margin-bottom: 20px;
  }
  #story-box p{
    font-size: 25px;
  }
  .address-box{
    font-size: 20px;
  }
}
footer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100vw;
  height: 7vh;
  max-height: 120px;
  background: black;
  color: white;
  font-size: 20px;
}
