// Blues
$light-blue: #5bc0de;
$main-blue: #0091ff;
$dark-blue: #0257a6;

// Reds
$light-red: #e55451;
$main-red: #ff0000;
$dark-red: #aa0000;

// Black
$light-black: #333333;
$main-black: #000000;

// Borders
$light-border: 1px solid #eee;

// Shadows
$light-shadow: 3px 3px 10px #ddd;
