@use '../../scss/variables';

.empty-content {
	width: auto;
	max-width: 280px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	button {
		min-width: 120px;
		font-size: 14px;
		background: variables.$main-blue;
		&:hover {
			background: variables.$dark-blue;
		}
	}
	h4 {
		text-align: center;
	}
}
