@use '../../scss/variables';

.menu-main-container {
	overflow-x: hidden;
	position: relative;
	width: 100%;
	min-height: 79vh;
	background: url('../../images/whiteMarblePortrait.jpg');
	background-position: center;
	background-size: cover;
	text-align: center;
}
#menu-title {
	font-size: 2.5em;
	padding: 10px 0;
	background: rgba(3, 3, 3, 0.295);
}
.d-none {
	display: none;
}
.menu-pizzas-box {
	padding: 60px 0px;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, 260px);
	justify-content: center;
	align-items: center;
}
.menu-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 260px;
	min-height: 350px;
	padding: 20px;
	margin: auto;
	background: #fff;
	border: variables.$light-border;
	border-radius: 5px;
	box-shadow: variables.$light-shadow;
	transition: 300ms ease;
	.description-box {
		text-align: center;
		font-size: 15px;
		height: 70px;
	}
	.menu-image-box {
		display: grid;
		place-items: center;
		height: 140px;
		width: 70%;
		margin: auto;
		img {
			width: 100%;
		}
	}
	.serving-price {
		display: flex;
		margin: 10px 0;
		justify-content: space-evenly;
		span {
			font-weight: 500;
		}
	}
	button {
		min-width: 110px;
		background: variables.$main-blue;
		&:hover {
			background: variables.$dark-blue;
		}
		&:disabled {
			cursor: none;
			background: variables.$dark-blue;
		}
	}
	&:hover {
		box-shadow: 3px 3px 15px #ccc;
		transform: translateY(-1px);
	}
}
@media (max-width: 767px) {
	#menu-title {
		font-size: 2em;
	}
}
